.scroll-container {
    overflow: hidden;
    animation: scroll 40s linear infinite;
    display: flex;
  }
  
  .scroll-container img {
    height: 100%;
    flex-shrink: 0;
  }
  
  @keyframes scroll {
    10%, 100% {
      transform: translateY(0);
    }
  
    25% {
      transform: translateY(-25%);
    }
  
    50% {
      transform: translateY(-50%);
    }
  
    75% {
      transform: translateY(-75%);
    }
  }